<div>

  <h3><%= resource['title'] %></h3>

  <div class="badge-and-indentifier">
    <div class="identifier" style="float:none;">
      <span class="id-label"> Identifier: </span>
      &nbsp;
      <span class="component"> <%= (0..3).map{|n| resource["id_#{n}"]}.compact.join('-') %> </span>
    </div>
  </div>


  <div style="margin-top:10px;">
    <ul>
      <% containers.each do |container| %>
        <li><%= container['title'] %></li>
      <% end %>
    </ul>
  </div>

  <div class="pull-right">
    <%= render :partial => 'aeon/aeon_request_action', :locals => {:record => record} %>
  </div>

</div>
