<a class="btn btn-default btn-sm"
   href="javascript:void(0);"
   style="min-width:200px"
   onclick="setup_inline_request_form('<%= record.raw['uri'] %>');">

  Request <%= record.container_summary_for_badge.gsub(/(.+?:[^,]+),.*/, '\1') %> &hellip;
</a>
