<a class="btn btn-default btn-sm"
   style="margin-bottom: 0.5em;"
   href="javascript:void(0);"
   onclick="setup_inline_request_form('<%= record.raw['uri'] %>');">

  Request <%= record.container_summary_for_badge.gsub(/(.+?:[^,]+),.*/, '\1') %>
</a>
